<div class="commet-zone">
  <% object.replies.all.each do |reply| %>
  <div class="reply-info">
    <h4><%= reply.post.title %></h4>
    <div class="row">
      <div class="col-md-8 block">
        <p><%= reply.comment %></p>
      </div>
      <div class="col-md-4 mt-auto">
        <% if current_user == reply.user %>
          <%= link_to fa_icon("pencil"), edit_post_reply_path(reply.post, reply), class: "btn btn-custom" %></td>
          <%= link_to fa_icon("times"), post_reply_path(reply.post, reply), method: :delete, class: "btn btn-danger" %></td>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
